.App {
  text-align: center;
}

.dice-image {
  padding-top: 150px;
  width: 100px;
  height: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal button:hover {
  background: #0056b3;
}